.nav {
  position: absolute;
  top: 15px;
  z-index: 99;
  left: 0;
  right: 0;
}

.uk-sticky-placeholder {
  height: 0 !important;
}

.top-wrap::before,
.overlay-wrap::before {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  content: '';
  z-index: 1;
  /* background-color: rgba(0,0,0,0.5); */
}

.big-message-dark {
  font-size: 3em;
  font-weight: 100;
  color: #fff;
}

.top-wrap-height {
  height: 80vh;
  min-height: 460px;
  transition: height 0.25s;
}

.uk-subnav-pill > * > :first-child {
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.04);
}

.top-container {
  z-index: 2;
}

.uk-logo img {
  height: 38px;
}

.subtitle-text {
  font-size: 1.2em;
  font-weight: 400;
}

.logos-grid img {
  display: block;
  width: 120px;
  margin: 0 auto;
  filter:  grayscale(100%);
  transition: filter 0.25s;
}

.logos-grid img:hover {
  display: block;
  width: 120px;
  margin: 0 auto;
  filter: grayscale(0);
}

.section-title-primary {
  font-weight: 700 !important;
  color: #3d9dd6 !important;
}

.uk-section-primary,
.uk-background-primary {
  background-color: #3d9dd6 !important;
}

.uk-section-success,
.uk-background-success {
  background-color: #53ac86 !important;
}

.uk-section-warning,
.uk-background-warning {
  background-color: #fbb232 !important;
}

.uk-section-secondary,
.uk-background-secondary {
  background-color: #00243e !important;
}
